@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    scroll-behavior: smooth;
    color: white;
}

.left-50 {
    left: 50%;
}

.right-50 {
    right: 50%;
}

.top-50 {
    top: 50%;
}

.-z-10 {
    z-index: -10;
}
.-z-1 {
    z-index: -1;
}

.secondary-title {
    @apply text-3xl font-bold;
}

.secondary-title::before {
    content: "";
    @apply block w-12 h-2 bg-theme rounded-full mb-1;
}

.section-paragraph {
    @apply text-secondary my-6 w-full max-w-3xl
}

.badge {
    @apply px-4 py-2 text-sm rounded bg-badge;
}

[id] {
    scroll-margin-top: 100px;
}

.left-percentage {
    left: 5%;
}

.left-nav-percentage {
    left: 10%;
}

.h-screen-partial {
    height: 90vh;
}

.h-screen-rest {
    height: 10vh;
}

.nav-dot {
    transition: background 200ms, border-color 200ms;
}

.selected-circle {
    @apply border-theme bg-theme;
}

.nav-dot:hover span {
    opacity: 1;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:40%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.inset-talkative {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}